main {
    .index {
        .lista-posts {
            .post {
                margin: 20px 0;
                border: 2px solid $indigo;
                .link {
                    padding: 10px;
                    display: flex;
                    align-items: center;

                    .post-img {
                        width: 200px;
                        height: 120px;
                        margin-right: 20px;

                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .show {
        .post-img {
            width: 500px;
            margin: 30px 0;
            height: 300px;

            img {
                height: 100%;
            }
        }
    }
}
